#TutContainer {
    padding-top: 5%;
}

.centerPosition {
    padding-left:25%;
}

.colorpicker {
    padding-left: 10px;
}

.pullright {
    float: right;
}

.view-header {
    padding-left: 22%;
    padding-top: 5px;
}